<header>
    <nav>
        <ul className="navbar flex items-center w-full h-full space-x-4">
            <li className="nav-item text-4xl font-bold text-white pb-2 pl-3 pr-2">
                <h1><a href="/" class="logo">PlantUML Problems</a></h1>
            </li>
            <li className="flex items-center justify-between text-slate-400">
                <p><a href="../../Pages/Problems/problems.php">問題一覧</a></p>
            </li>
            <li className="flex items-center justify-between text-slate-400">
                <p><a href="/Pages/Cheatsheet/cheatsheet.php">チートシート</a></p>
            </li>
        </ul>
    </nav>
</header>